{include file="Public/head"/}
<body class="no-skin">
{include file="Public/header"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>

    </style>
    {include file="Public/sidebar"/}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {include file="Public/breadcrumbs" /}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                {include file="Public/set"/}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a>商家列表</a></li>
                                    </ul>
                                    <div style="margin-top: 10px;"></div>
                                    <form action="<{:url('Order/lists')}>" method="post" id="forms">
                                        <div class="col-xs-12">
                                            <div style="line-height: 34px;width:80px;float: left;margin-left:-10px;margin-top: 5px; ">
                                                <select style="width:80px;float: left;height:34px;" class="type" name="status" id="status">
                                                    <option value="-1" {if condition="$status eq -1"}selected="selected"{/if}>状态</option>
                                                    <option value="1" {if condition="$status eq 1"}selected="selected"{/if}>已支付</option>
                                                    <option value="2" {if condition="$status eq 2"}selected="selected"{/if}>未支付</option>
                                                </select>
                                            </div>
                                            <div  style="line-height: 34px;width:200px;float:left;margin-left: 10px;margin-top: 5px;">
                                                <input type="text" id="chose_time" name='done_time' style="height:34px;float: left;width:200px;" placeholder="支付时间" value="<{$done_time}>"/>
                                            </div>
                                            <div style="line-height: 34px;width:50px;float:left;margin-left: 10px;margin-top: 5px;">
                                                <button type="submit" class="btn btn-info btn-sm">
                                                    <span class="icon-on-right bigger-110">搜索</span>
                                                </button>
                                            </div>
                                            <div style="line-height: 34px;width:50px;float:left;margin-left: 10px;margin-top: 5px;">
                                                <button type="button" class="btn btn-info btn-sm" id="removes">
                                                    <span class="icon-on-right bigger-110">清空</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div style="margin-bottom: 56px;"></div>
                                    <form action="" method="post" class="margin-top-40">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th width="40">ID</th>
                                                <th align="left">订单编号</th>
                                                <th align="left">昵称</th>
                                                <th align="left">手机号</th>
                                                <th align="left">充值金币</th>
                                                <th align="left">花费金额</th>
                                                <th align="left">下单时间</th>
                                                <th align="left">支付时间</th>
                                                <th align="left">状态</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {volist name='arr' id='v'}
                                                 <tr>
                                                     <td><{$v.id}></td>
                                                     <td><{$v.order_number}></td>
                                                     <td><{$v.user_nickname}></td>
                                                     <td><{$v.mobile}></td>
                                                     <td><{$v.coins}></td>
                                                     <td><{$v.money}></td>
                                                     <td><{$v.add_time|date='Y-m-d H:i',###}></td>
                                                     <td>
                                                         {if condition='$v.done_time'}
                                                         <{$v.done_time|date='Y-m-d H:i',###}>
                                                         {else/}
                                                         {/if}
                                                     </td>
                                                     <td>
                                                         {if condition='$v.status eq 1'}
                                                          <span style="color: green">已支付</span>
                                                         {else/}
                                                         <span style="color: red">未支付</span>
                                                         {/if}
                                                     </td>
                                                 </tr>
                                                {/volist}
                                            </tbody>
                                        </table>
                                    </form>

                                    <!-- /.tab-content -->
                                </div><!-- /.tabbable -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                         <{$page}>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    {include file="Public/footer"/}

</div><!-- /.main-container -->

{include file="Public/footerjs"/}
<script src="__PUBLIC__xyb/layer/laydate/laydate.js"></script>
<!-- inline scripts related to this page -->
</body>
</html>
<script>
    var now = new Date();
    var year = now.getFullYear();       //年
    var month = now.getMonth() + 1;     //月
    var day = now.getDate();            //日
    laydate.render({
        elem: '#chose_time',
        event:"focus",
        format: 'yyyy/MM/dd',
        max: year+"-" + month + "-" + day,
        theme: 'grid',
        range:true
    });


    //点击清空数据信息
    $("#removes").click(function(){
        $("#status").val('-1');
        $("input[name=done_time]").val('');
    })
</script>
