{include file="Public/head"/}
<body class="no-skin">
{include file="Public/header"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="Public/sidebar"/}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {include file="Public/breadcrumbs" /}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                {include file="Public/set"/}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a>发布中</a></li>
                                    </ul>
                                    <div style="margin-top: 20px;"></div>
                                    <form action="" method="post" class="margin-top-20">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th width="40">ID</th>
                                                <th align="left">公司名称</th>
                                                <th align="left">招聘岗位</th>
                                                <th align="left">工作时间</th>
                                                <th align="left">工作地址</th>
                                                <th align="left">需求人数</th>
                                                <th align="left">薪资范围</th>
                                                <th align="left">薪资结算时间</th>
                                                <th align="left">工作详情</th>
                                                <th align="left">发布时间</th>
                                                <th width="160">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>xx公司</td>
                                                <td>销售经理</td>
                                                <td>周一至周五</td>
                                                <td>世纪城</td>
                                                <td>3人</td>
                                                <td>8-12K</td>
                                                <td>月结</td>
                                                <td>销售经理公司产品</td>
                                                <td>发布时间</td>
                                                <td><a>编辑</a>|<a>删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>xx公司</td>
                                                <td>销售经理</td>
                                                <td>周一至周五</td>
                                                <td>世纪城</td>
                                                <td>3人</td>
                                                <td>8-12K</td>
                                                <td>月结</td>
                                                <td>销售经理公司产品</td>
                                                <td>发布时间</td>
                                                <td><a>编辑</a>|<a>删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>xx公司</td>
                                                <td>销售经理</td>
                                                <td>周一至周五</td>
                                                <td>世纪城</td>
                                                <td>3人</td>
                                                <td>8-12K</td>
                                                <td>月结</td>
                                                <td>销售经理公司产品</td>
                                                <td>发布时间</td>
                                                <td><a>编辑</a>|<a>删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>xx公司</td>
                                                <td>销售经理</td>
                                                <td>周一至周五</td>
                                                <td>世纪城</td>
                                                <td>3人</td>
                                                <td>8-12K</td>
                                                <td>月结</td>
                                                <td>销售经理公司产品</td>
                                                <td>发布时间</td>
                                                <td><a>编辑</a>|<a>删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>xx公司</td>
                                                <td>销售经理</td>
                                                <td>周一至周五</td>
                                                <td>世纪城</td>
                                                <td>3人</td>
                                                <td>8-12K</td>
                                                <td>月结</td>
                                                <td>销售经理公司产品</td>
                                                <td>发布时间</td>
                                                <td><a>编辑</a>|<a>删除</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>

                                    <!-- /.tab-content -->
                                </div><!-- /.tabbable -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    {include file="Public/footer"/}

</div><!-- /.main-container -->

{include file="Public/footerjs"/}
<!-- inline scripts related to this page -->
</body>
</html>
