<div class="bg_div"></div>
<!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar responsive">
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'fixed')
            } catch (e) {
            }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <!-- #section:basics/sidebar.layout.shortcuts -->
                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>

                <!-- /section:basics/sidebar.layout.shortcuts -->
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <!--<li class="active">
                <a href="<{:url('index/index')}>">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 控制台 </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text">
								用户管理
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">

                    <li class="">
                        <a href="<{:url('user/user_business')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            商家用户
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="<{:url('user/user_common')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                           普通用户
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="<{:url('user/index')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                           系统用户
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> 意见管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="<{:url('suggest/index')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            意见反馈
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text">金额明细</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="<{:url('consume/info')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            明细列表
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-tag"></i>
                    <span class="menu-text"> 招聘管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="<{:url('recruit/release')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                          在招职位
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="<{:url('recruit/closed')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            关闭职位
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-tag"></i>
                    <span class="menu-text"> 商铺(房)管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="<{:url('shops/release')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            发布中
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="<{:url('shops/closed')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            已关闭
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-tag"></i>
                    <span class="menu-text"> 二手车 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="<{:url('car/release')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            发布中
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="<{:url('car/closed')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            已关闭
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-file-o"></i>

                    <span class="menu-text">
								资料管理
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="<{:url('profile/enterprise_info')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                           公司资料审核
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="<{:url('profile/person_info')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            个人资料审核
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-file-o"></i>

                    <span class="menu-text">
								菜单管理
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="<{:url('menu/index')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                            菜单列表
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="<{:url('menu/add')}>">
                            <i class="menu-icon fa fa-caret-right"></i>
                           添加菜单
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>-->
            {volist name="menus" id="v"}
                <li
                {if condition="($v['id'] eq $current['id']) OR ($v['id'] eq $current['pid']) OR ($v['id'] eq $current['ppid'])"}
                    class="active
                    {if condition="$current['pid'] neq '0'"}open{/if}
                    "
                {/if}
                >
                <a href="{empty name="v.name"}#
                {else/}
                <{:url($v['name'])}></a>{/empty}"
                {notempty name="v.children"}class="dropdown-toggle"{/notempty}
                >
                <i class="<{$v.icon}>"></i>
                <span class="menu-text">
                                    <{$v.title}>
                                </span>
                {notempty name="v.children"}
                    <b class="arrow fa fa-angle-down"></b>
                {/notempty}
                </a>

                <b class="arrow"></b>
                {notempty name="v.children"}
                    <ul class="submenu">
                        {volist name="v.children" id="vv"}

                            <li
                            {if condition="($vv['id'] eq $current['id']) OR ($vv['id'] eq $current['pid'])"} class="active
                                {if condition="$current['ppid'] neq '0'"}open{/if}
                                "
                            {/if}
                            >
                            <a href="{empty name="vv.children"}<{:url($vv['name'])}>
                            {else/}
                            #{/empty}"
                            {notempty name="vv.children"}class="dropdown-toggle"{/notempty}
                            >
                            <i class="<{$vv.icon}>"></i>
                            <{$vv.title}>
                            {notempty name="vv.children"}<b class="arrow fa fa-angle-down"></b>{/notempty}
                            </a>

                            <b class="arrow"></b>
                            {notempty name="vv.children"}
                                <ul class="submenu">
                                    {volist name="vv.children" id="vvv"}
                                        <li
                                        {if condition="$vvv['id'] eq $current['id']"}class="active"{/if}
                                        >
                                        <a href="<{:url($vvv['name'])}>">
                                            <i class="<{$vvv.icon}>"></i>
                                            <{$vvv.title}>
                                        </a>
                                        <b class="arrow"></b>
                                        </li>
                                    {/volist}
                                </ul>
                            {/notempty}
                            </li>

                        {/volist}
                    </ul>
                {/notempty}
                </li>
            {/volist}

        </ul><!-- /.nav-list -->

        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
               data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <!-- /section:basics/sidebar.layout.minimize -->
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>
    </div>

    <!-- /section:basics/sidebar -->