{include file="Public/head"/}
<body class="no-skin">
{include file="Public/header"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="Public/sidebar"/}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {include file="Public/breadcrumbs" /}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                {include file="Public/set"/}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a>用户列表</a></li>
                                        <li><a href="<{:url('user/add_user')}>">添加用户</a></li>
                                    </ul>
                                    <div style="margin-top: 10px;"></div>
                                    <form action="<{:url('User/index')}>" method="post" id="forms">
                                        <div class="col-xs-12">
                                            <div style="line-height: 34px;width:150px;float: left;margin-left:-10px;margin-top: 5px; ">
                                                <input type="text" name="search_content" style="width:150px;float: left;height:34px;" placeholder="联系电话" id="search_content" value="<{$search_content}>"/>
                                            </div>
                                            <div style="line-height: 34px;width:50px;float:left;margin-left: 10px;margin-top: 5px;">
                                                <button type="submit" class="btn btn-info btn-sm">
                                                    <span class="icon-on-right bigger-110">搜索</span>
                                                </button>
                                            </div>
                                            <div style="line-height: 34px;width:50px;float:left;margin-left: 10px;margin-top: 5px;">
                                                <button type="button" class="btn btn-info btn-sm" id="removes">
                                                    <span class="icon-on-right bigger-110">清空</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div style="margin-bottom: 56px;"></div>
                                    <form action="" method="post" class="margin-top-20">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th width="40">ID</th>
                                                <th align="left">用户名</th>
                                                <th align="left">性别</th>
                                                <th align="left">电话</th>
                                                <th align="left">状态</th>
                                                <th align="left">创建时间</th>
                                                <th align="left">最近登录</th>
                                                <th width="160">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             {volist name="info" id="i"}
                                                 <tr>
                                                     <td><{$i.id}></td>
                                                     <td><{$i.user_login}></td>
                                                     <td>
                                                         {if condition='$i.sex eq 1'}
                                                         <span style="color: green">男</span>
                                                         {else /}
                                                         <span style="color: green">女</span>
                                                         {/if}
                                                         </td>
                                                     <td><{$i.mobile}></td>
                                                     <td>
                                                         {if condition='$i.user_status eq 1'}
                                                         <span style="color: green">启用</span>
                                                         {else /}
                                                         <span style="color: red">禁用</span>
                                                         {/if}
                                                     </td>
                                                     <td>
                                                         {if condition='$i.last_login_time'}
                                                         <{$i.last_login_time|date='Y-m-d H:i',###}>
                                                         {else /}
                                                         暂未登录
                                                         {/if}
                                                     </td>
                                                     <td><{$i.create_time|date='Y-m-d H:i',###}></td>
                                                     <td>
                                                         {if condition='$i.id neq 1'}
                                                         <a href="<{:url('User/user_edit',['id'=>$i.id])}>" style="cursor: pointer"><span class="label label-primary">编辑</span></a>
                                                         {if condition='$i.user_status eq 1'}
                                                         <span class="label label-primary" onclick="do_jy(<{$i.id}>)" style="cursor: pointer">禁用</span>
                                                         {else/}
                                                         <span class="label label-primary" onclick="do_open(<{$i.id}>)" style="cursor: pointer">启用</span>
                                                         {/if}
                                                         {/if}
                                                     </td>
                                                 </tr>
                                             {/volist}

                                            </tbody>
                                        </table>
                                    </form>

                                    <!-- /.tab-content -->
                                </div><!-- /.tabbable -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                        <{$page}>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    {include file="Public/footer"/}

</div><!-- /.main-container -->

{include file="Public/footerjs"/}
<!-- inline scripts related to this page -->
</body>
</html>
<script>
    //点击清空数据信息
    $("#removes").click(function(){
        $("input[name=search_content]").val('');
    })

    function do_jy(id){
        layer.confirm('确定将此用户禁用？', {icon: 3, title:'禁用用户'}, function(){
            $.post('__URL__user/forbidden_user_info',{id:id},function(data){
                if(data.status==1){
                    layer.msg(data.info, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.layer.close(index);
                    });
                    setTimeout(function(){
                        parent.location.reload();
                    },500);
                }else{
                    layer.msg(data.info, {
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.layer.close(index);
                    });
                    setTimeout(function(){
                        parent.location.reload();
                    },500);
                }
            })
        });
    }

    function do_open(id){
        layer.confirm('确定将此用户启用？', {icon: 3, title:'启用用户'}, function(){
            $.post('__URL__user/open_user_info',{id:id},function(data){
                if(data.status==1){
                    layer.msg(data.info, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.layer.close(index);
                    });
                    setTimeout(function(){
                        parent.location.reload();
                    },500);
                }else{
                    layer.msg(data.info, {
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.layer.close(index);
                    });
                    setTimeout(function(){
                        parent.location.reload();
                    },500);
                }
            })
        });
    }
</script>
